header{
    width: 100%;
    height: 160px;
    background-color: #21c3d4;

}

.subHeader{
    top: -10px;
    width: 100%;
    height: 50px;
    background-color: #6cdde9;
    /*background-color: #62d8e5; original*/ 
    box-shadow: 0px 0.1px 0px black;
}
body{
    font-family: 'Montserrat';
     text-decoration: none; 
}
.sombra-ativada{
    width: 200%;
    height: 420%;
    background-color: black;
    position: absolute;
    z-index: 13;
    opacity: 0.5;
}

.caixa-header {
	position: relative;
	width: 940px;
    left: 100px;
    margin: 0 auto;   
}

#img{
    position: relative;
    margin: 0px auto;
    top: 40px;
    width: 33%;
    left: 200px;
}

.botao-menu-sair{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    
}

.barra1{
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transform: rotate(140deg);
    position: absolute;
    top: 7px;
}

.barra2{
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
}
nav {
	position: absolute;
	top: 80px;
	right: 0;
}

nav li:hover {
	color: #fff;
	text-decoration: underline;
    cursor: pointer;
}

#img-produto1{
    width: 100%;
}

.lista li{
    background-color: #3d023cff;
    width: 210px;
    height: 300px;
    margin: 25px 15px;
    display: inline-block;
    border-radius: 10px;
    
}

.lista li:hover{
    cursor: pointer;
}

nav a {
	color: #3d023cff;

	text-decoration: none;
}

nav a:hover {
	color: #000000;
    color: #fff;
	text-decoration: none;
}

#lupa{
    width: 30px;
    position: absolute;
    margin-top: 15px;
    margin-left: 755px;
}
#buscar{
    position: absolute;
    top: -40px;
    left: 275px;
    font-size: 16pt;
}

li text{
    font-size: 5px;
}

#lupa-botao{
    position: absolute;
    margin-top: -308px;
    margin-left: 705px;
    width: 30px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: #21c3d4;
}

#lupa:hover{
    cursor: pointer;
}

#entrarLi{
    position: absolute;
    top: -40px;
    left: 415px;
    font-size: 16pt;
}
#img-icone-login{
    position: absolute;
    top: -40px;
    left: 380px;
    width: 28px;
}

.invisivel{
    opacity: 0;
}

#lista-TemasHeader li{
    display: inline;
}
#lista-TemasHeader{
    margin: 0 0 0 25px;
    font-size: 20px;
    color: #3d023cff;
    font-family: monospace;
	display: inline;
    left: -300px;
    text-align: center;
}

#lista-FuncoesHeader li{
    display: inline;    
}

#lista-FuncoesHeader{
    margin: 0 0 0 25px;
    font-size: 30px;
    color: #3d023cff;
    font-family: monospace;
	display: inline;
    left: -200px;
    text-align: center;
}

.principais-temas{
    width: 100%;

	top: 175px;
    text-align: center;
    
}
.nav li{
    
}
.botoes-extra{
    top: 130px;
    left: 510px;
   
}
#homeLi{
    font-weight: bold;
    text-decoration: underline  red;
}
.iten-lista{
    margin: 0 0 0 20px;
}

